body {
    background-color: #fff;
    ;
}
.fieldDiv {
    position: absolute;
    top: 76px;
    left: 885px;
}
.field {
    display: inline-block;
    border: 5px solid #7cf246;
    padding: 110px 126px 110px 126px;
    border-radius: 63%;
    font-size: 60px;
}
#resetButton {
    position: absolute;
    bottom: 538px;
    left: 885px;
}
#countButton {
    position: absolute;
    bottom: 538px;
    left: 1126px;
}
.heading {
    color: #000;
    font-family: Gulzar;
    position: absolute;
    bottom: 81px;
    left: 750px;
    font-size: 147px;
}